* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a { 
  text-decoration: none;
}

.single-post-heading {
  font-weight: 800 !important;
 
}

/* THIRD PARTY PACKAGES STYLES */
#toast-container > div {
    opacity:1;
}

.ck.ck-editor {
  width: 100% !important;
}

 .ck-editor__editable {
  min-height: 150px;
}
